In [51]:
import pandas as pd
data = {
    "Name" : ["danish", "ahmad", "ali"],
    "Age" : [20, 21, 22],
    "city": ["karachi", "lahore", "islamabad"]
    }
df = pd.DataFrame(data)
# print(df)

# print(df.info())

# print(df.head(2))

# print(df.tail(2))

# print(df.describe())

# selesting columngs
# print(df["Name"])
# print(df[["Name", "Age"]])

# selecting rows
# print(df.loc[0:2])
# print("______________")
# print(df.iloc[0:3])

# filtring data
# print(df[df["Age"] > 21])

# adding a new column
df["degree"] = ["CS","IT","SE"]
# print(df)

# droping a column
# df.drop("degree", axis=1, inplace=True)
# print(df)

# Merging dataframes
data2 = {
    "Name" : ["danish", "ahmad", "ali"],
    "Age" : [20, 21, 22],
    "city": ["karachi", "lahore", "islamabad"]
    }
df2 = pd.DataFrame(data2)
    # print(df)
    # print(df2)
merge_df2 = pd.merge(df, df2)
# merge_df2 = pd.merge(df, df2, )
# print(merge_df2)
    # concatination
    # print(pd.concat([df, df2]))

# handling missing values
# df.dropna(inplace="city")
# print(df)
# column droping
# df.drop(columns=['city'], inplace=True)
# print(df)
# row droping
# df2.drop(index=0, inplace=True)
# print(df2)
# handling duplicates
print(merge_df2)
print("_____________________________________________________")
merge_df2.drop_duplicates(inplace=True)
print(merge_df2)

   Name_x  Age_x       city degree  Name_y  Age_y
0  danish     20    karachi     CS  danish     20
1   ahmad     21     lahore     IT   ahmad     21
2     ali     22  islamabad     SE     ali     22
_____________________________________________________
   Name_x  Age_x       city degree  Name_y  Age_y
0  danish     20    karachi     CS  danish     20
1   ahmad     21     lahore     IT   ahmad     21
2     ali     22  islamabad     SE     ali     22